<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quickinventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityClasses.SignInActivity"
            android:label="Quick Inventory App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityClasses.SignUpAcitivity"
            android:label="Sign Up" />
        <activity
            android:name=".ActivityClasses.DashBoardActivity"
            android:label="DashBoard" />
        <activity android:name=".ActivityClasses.ProductsActivity" />
        <activity
            android:name=".ActivityClasses.CustomersActivity"
            android:theme="@style/CustomersActivityTheme" />
        <activity android:name=".ActivityClasses.CustomersAddActivity" />
        <activity android:name=".ActivityClasses.CustomersDetailsActivity" />
        <activity android:name=".ActivityClasses.ProductsAddActitivty" />
        <activity android:name=".ActivityClasses.ProductDetailsAcitivity" />
        <activity android:name=".ActivityClasses.SalesOrderActivity" />
        <activity android:name=".ActivityClasses.HistoryActivity" />
        <activity android:name=".ActivityClasses.HistoryDetailsActivity" />
        <activity android:name=".ActivityClasses.AnalysisActivity" />
        <activity android:name=".ActivityClasses.ChartActivity"></activity>
    </application>

</manifest>